@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital@1&display=swap");

.card {
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


.card-text i {
  font-size: 1.3rem;
}

.quote {
  font-size: 28px;
  font-style: italic;
  font-family: "Old Standard TT", serif;
  color: #212529;
}

.loading {
  color: #6c757d;
}

.fade-out {
  opacity: 0;
}

.fade-in {
  opacity: 1;
}

.author {
  font-size: 20px;
  font-style: italic;
}

.title {
  font-family: "Playfair Display", serif;
}
